<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("title", required: false)
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="MVC ASP.NET project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/Assets/Client/styles/bootstrap4/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    @RenderSection("css", required: false)
    <link href="/Assets/Client/plugins/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Assets/Client/styles/custom.css">
    <link rel="shortcut icon" type="image/x-icon" href="/Assets/Client/images/logo/logo.jpg">


</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">

            <!-- Top Bar -->

            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="/Assets/Client/images/phone.png" alt=""></div>(024) 3628.8790 - 3512.0778</div>
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="/Assets/Client/images/mail.png" alt=""></div><a href="mailto:cskh@tncstore.vn">cskh@tncstore.vn</a></div>
                            <div class="top_bar_content ml-auto">

                                <div class="top_bar_user">
                                    <div class="user_icon"><img src="/Assets/Client/images/user.svg" alt=""></div>
                                    <div><a href="#">Đăng nhập  /Đăng ký</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Main -->

            <div class="header_main">
                <div class="container">
                    <div class="row">

                        <!-- Logo -->
                        <div class="col-lg-2 col-sm-3 col-3 order-1">
                            <div class="logo_container">
                                <div class="logo"><a href="/"><img src="~/Assets/Client/images/logo/tnc-logo.svg" /></a></div>
                            </div>
                        </div>

                        <!-- Search -->
                        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                            <div class="header_search">
                                <div class="header_search_content">
                                    <div class="header_search_form_container">
                                        <form action="#" class="header_search_form clearfix">
                                            <input type="search" required="required" class="header_search_input" placeholder="Tìm kiếm sản phẩm...">
                                            <div class="custom_dropdown">
                                                <div class="custom_dropdown_list">
                                                    <span class="custom_dropdown_placeholder clc">All Categories</span>
                                                    <i class="fas fa-chevron-down"></i>
                                                    <ul class="custom_list clc">
                                                        <li><a class="clc" href="#">All Categories</a></li>
                                                        <li><a class="clc" href="#">Computers</a></li>
                                                        <li><a class="clc" href="#">Laptops</a></li>
                                                        <li><a class="clc" href="#">Cameras</a></li>
                                                        <li><a class="clc" href="#">Hardware</a></li>
                                                        <li><a class="clc" href="#">Smartphones</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <button type="submit" class="header_search_button trans_300" value="Submit"><img src="/Assets/Client/images/search.png" alt=""></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Wishlist -->
                        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                                <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                    <div class="wishlist_icon"><img src="/Assets/Client/images/heart.png" alt=""></div>
                                    <div class="wishlist_content">
                                        <div class="wishlist_text"><a href="#">Wishlist</a></div>
                                        <div class="wishlist_count">115</div>
                                    </div>
                                </div>

                                <!-- Cart -->
                                <div class="cart">
                                    <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                        <div class="cart_icon">
                                            <img src="/Assets/Client/images/cart.png" alt="">
                                            <div class="cart_count"><span>10</span></div>
                                        </div>
                                        <div class="cart_content">
                                            <div class="cart_text"><a href="#">Giỏ hàng</a></div>
                                            <div class="cart_price">$85</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->
            <div class="header__bottom">
                <div class="container">
                    <div class="header__bottom__left">
                        <div class="header_bottom_item tnc-category">
                            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="computer-icon">
                                <path d="M19.6445 10.2915C19.6147 10.188 19.5525 10.0966 19.4671 10.0307C18.7419 9.47168 17.9973 9.16426 17.2593 9.09492C17.2593 9.09492 17.161 9.0791 16.9243 9.0791C16.6874 9.0791 16.5667 9.09451 16.5667 9.09451C15.8551 9.17843 15.1425 9.49178 14.4433 10.0307C14.3578 10.0965 14.2957 10.188 14.2659 10.2915C13.9227 11.4812 13.8312 12.6224 13.9776 13.883C14.107 14.9974 14.4141 16.1159 14.7723 17.3576C14.8021 17.4612 14.8643 17.5526 14.9496 17.6184C15.4987 18.0418 16.2109 18.2747 16.9551 18.2747C17.6992 18.2747 18.4116 18.0418 18.9607 17.6185C19.0461 17.5527 19.1082 17.4612 19.1381 17.3577C19.4963 16.1158 19.8034 14.9974 19.9328 13.8831C20.0792 12.6224 19.9877 11.4811 19.6445 10.2915ZM17.3983 12.3574C17.3983 12.6022 17.1998 12.8006 16.9551 12.8006C16.7103 12.8006 16.512 12.6022 16.512 12.3574V10.5091C16.512 10.2644 16.7103 10.0659 16.9551 10.0659C17.1998 10.0659 17.3983 10.2644 17.3983 10.5091V12.3574Z" fill="#29324E"></path>
                                <path d="M13.583 17.0868H12.7839L12.1244 14.8446H13.4705C13.4284 14.6043 13.3925 14.3641 13.3644 14.123C13.2795 13.3916 13.2692 12.6969 13.3347 12.0111H1.5456V2.12031H17.5168V8.46947C18.0371 8.52166 18.5539 8.67359 19.0624 8.92259V1.34751C19.0624 0.920715 18.7163 0.574707 18.2896 0.574707H0.772799C0.346008 0.574707 0 0.920715 0 1.34751V14.0718C0 14.4987 0.346008 14.8446 0.772799 14.8446H6.93788L6.27848 17.0868H5.47951C5.27662 17.0868 5.11212 17.2513 5.11212 17.4542V18.0583C5.11212 18.2612 5.27662 18.4257 5.47951 18.4257H13.583C13.7859 18.4257 13.9503 18.2612 13.9503 18.0583V17.4542C13.9502 17.2513 13.7858 17.0868 13.583 17.0868Z" fill="#29324E"></path>
                            </svg>
                            <span class="text">DANH MỤC SẢN PHẨM</span>
                            <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg" class="dropdown-icon">
                                <path d="M13.2 1.89843L11.649 0.300049L6.59995 5.49195L1.55095 0.300049L-4.95911e-05 1.89843L6.59995 8.70005L13.2 1.89843Z" fill="#29324E"></path>
                            </svg>
                            <ul class="mega-menu">
                                @{Html.RenderAction("CategoriesMenu", "Product"); }
                            </ul>
                        </div>
                        @{Html.RenderAction("MainNavMenu", "Home"); }
                    </div>
                </div>
            </div>

            <!-- Menu -->

        </header>

        <!-- Banner -->
        @RenderSection("Slide", required: false)


        <!-- Characteristics -->
        @RenderSection("Characteristics", required: false)

        <!-- Deals of the week -->


        @RenderSection("HomeCategory", required: false)

        <!-- Banner -->
        @RenderBody()



        <!-- Hot Product -->
        <!-- Best Sellers -->
        <!-- Adverts -->
        <!-- Trends -->
        <!-- Reviews -->
        <!-- Recently Viewed -->
        <!-- Brands -->

        @{Html.RenderAction("Brand", "Home"); }

        <!-- Newsletter -->

        <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
                            <div class="newsletter_title_container">
                                <div class="newsletter_icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                                <div class="newsletter_title">Mua hàng online với nhiều ưu đãi hơn tại TNC Store</div>
                            </div>
                            <div class="newsletter_content clearfix">
                                <form action="#" class="newsletter_form">
                                    <input type="email" class="newsletter_input" required="required" placeholder="Nhập email của bạn">
                                    <button class="newsletter_button">Đăng ký</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="footer">
            @{ Html.RenderAction("Footer", "Home");}
        </footer>

        <!-- Copyright -->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                            <div class="copyright_content">
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                            </div>
                            <div class="logos ml-sm-auto">
                                <ul class="logos_list">
                                    <li><a href="#"><img src="/Assets/Client/images/logo/tien-mat.png" alt=""></a></li>
                                    <li><a href="#"><img src="/Assets/Client/images/logo/internet-bank.png" alt=""></a></li>
                                    <li><a href="#"><img src="/Assets/Client/images/logos_1.png" alt=""></a></li>
                                    <li><a href="#"><img src="/Assets/Client/images/logos_2.png" alt=""></a></li>
                                    <li><a href="#"><img src="/Assets/Client/images/logo/bo-cong-thuong.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Assets/Client/js/jquery-3.3.1.min.js"></script>
    <script src="/Assets/Client/styles/bootstrap4/popper.js"></script>
    <script src="/Assets/Client/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/TweenMax.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/Assets/Client/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/Assets/Client/plugins/easing/easing.js"></script>
    <script src="/Assets/Client/js/jquery.scrollUp.min.js"></script>
    <script src="/Assets/Client/plugins/swiper/swiper-bundle.min.js"></script>
    <script src="/Assets/Client/js/custom.js"></script>
        @RenderSection("js", required: false)
    <script>
        var swiper = new Swiper('.slide-container', {
            slidesPerView: 1,
            spaceBetween: 0,
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });
    </script>
     <script>
        var swiper = new Swiper('.brands_slider', {
            slidesPerView: 6,
            spaceBetween: 0,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });
    </script>
</body>

</html>
