<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("title",required: false)
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/Assets/Client/styles/bootstrap4/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/Assets/Client/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Client/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Client/plugins/OwlCarousel2-2.2.1/animate.css">
    <link href="/Assets/Client/plugins/slick/slick.css" rel="stylesheet" />
    <link href="/Assets/Client/plugins/slick/slick-theme.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <link rel="stylesheet" type="text/css" href="/Assets/Client/styles/custom.css">
    <link href="~/Assets/Client/css/custom.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/Assets/Client/images/logo/logo.jpg">


</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">

            <!-- Top Bar -->

            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="/Assets/Client/images/phone.png" alt=""></div>(024) 3628.8790 - 3512.0778</div>
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="/Assets/Client/images/mail.png" alt=""></div><a href="mailto:cskh@tncstore.vn">cskh@tncstore.vn</a></div>
                            <div class="top_bar_content ml-auto">

                                <div class="top_bar_user">
                                    <div class="user_icon"><img src="/Assets/Client/images/user.svg" alt=""></div>
                                    <div><a href="#">Đăng nhập  /Đăng ký</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Main -->

            <div class="header_main">
                <div class="container">
                    <div class="row">

                        <!-- Logo -->
                        <div class="col-lg-2 col-sm-3 col-3 order-1">
                            <div class="logo_container">
                                <div class="logo"><a href="/"><img src="~/Assets/Client/images/logo/tnc-logo.svg" /></a></div>
                            </div>
                        </div>

                        <!-- Search -->
                        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                            <div class="header_search">
                                <div class="header_search_content">
                                    <div class="header_search_form_container">
                                        <form action="#" class="header_search_form clearfix">
                                            <input type="search" required="required" class="header_search_input" placeholder="Tìm kiếm sản phẩm...">
                                            <div class="custom_dropdown">
                                                <div class="custom_dropdown_list">
                                                    <span class="custom_dropdown_placeholder clc">All Categories</span>
                                                    <i class="fas fa-chevron-down"></i>
                                                    <ul class="custom_list clc">
                                                        <li><a class="clc" href="#">All Categories</a></li>
                                                        <li><a class="clc" href="#">Computers</a></li>
                                                        <li><a class="clc" href="#">Laptops</a></li>
                                                        <li><a class="clc" href="#">Cameras</a></li>
                                                        <li><a class="clc" href="#">Hardware</a></li>
                                                        <li><a class="clc" href="#">Smartphones</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <button type="submit" class="header_search_button trans_300" value="Submit"><img src="/Assets/Client/images/search.png" alt=""></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Wishlist -->
                        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                                <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                    <div class="wishlist_icon"><img src="/Assets/Client/images/heart.png" alt=""></div>
                                    <div class="wishlist_content">
                                        <div class="wishlist_text"><a href="#">Wishlist</a></div>
                                        <div class="wishlist_count">115</div>
                                    </div>
                                </div>

                                <!-- Cart -->
                                <div class="cart">
                                    <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                        <div class="cart_icon">
                                            <img src="/Assets/Client/images/cart.png" alt="">
                                            <div class="cart_count"><span>10</span></div>
                                        </div>
                                        <div class="cart_content">
                                            <div class="cart_text"><a href="#">Giỏ hàng</a></div>
                                            <div class="cart_price">$85</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            <nav class="main_nav">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <div class="main_nav_content d-flex flex-row">

                                <!-- Categories Menu -->
                                <div class="cat_menu_container">
                                    <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                                        <div class="cat_burger"><span></span><span></span><span></span></div>
                                        <div class="cat_menu_text">Danh mục sản phẩm</div>
                                    </div>
                                    @{Html.RenderAction("CategoriesMenu", "Product"); }
                                </div>
                                <!-- Main Nav Menu -->

                                @{Html.RenderAction("MainNavMenu", "Home"); }

                                <!-- Menu Trigger -->

                                <div class="menu_trigger_container ml-auto">
                                    <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                        <div class="menu_burger">
                                            <div class="menu_trigger_text">menu</div>
                                            <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Menu -->

            <div class="page_menu">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <div class="page_menu_content">

                                <div class="page_menu_search">
                                    <form action="#">
                                        <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
                                    </form>
                                </div>
                                @{Html.RenderAction("MainNavResponsive", "Home"); }

                                <div class="menu_contact">
                                    <div class="menu_contact_item"><div class="menu_contact_icon"><img src="/Assets/Client/images/phone_white.png" alt=""></div>(024) 3628.8790 - 3512.0778</div>
                                    <div class="menu_contact_item"><div class="menu_contact_icon"><img src="/Assets/Client/images/mail_white.png" alt=""></div><a href="mailto:cskh@tncstore.vn">cskh@tncstore.vn</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <!-- Banner -->
        @RenderSection("Slide", required: false)
        

        <!-- Characteristics -->
        @RenderSection("Characteristics", required: false)

        <!-- Deals of the week -->
        <!-- Popular Categories -->
        @RenderSection("PopularCategories", required: false)


        <!-- Banner -->
        @RenderBody()



        <!-- Hot Product -->
        <!-- Best Sellers -->
        <!-- Adverts -->
        <!-- Trends -->
        <!-- Reviews -->
        <!-- Recently Viewed -->
        <!-- Brands -->

        @{Html.RenderAction("Brand", "Home"); }

        <!-- Newsletter -->

        <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
                            <div class="newsletter_title_container">
                                <div class="newsletter_icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                                <div class="newsletter_title">Mua hàng online với nhiều ưu đãi hơn tại TNC Store</div>
                            </div>
                            <div class="newsletter_content clearfix">
                                <form action="#" class="newsletter_form">
                                    <input type="email" class="newsletter_input" required="required" placeholder="Nhập email của bạn">
                                    <button class="newsletter_button">Đăng ký</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="footer">
            @{ Html.RenderAction("Footer", "Home");}
        </footer>

        <!-- Copyright -->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                            <div class="copyright_content">
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                            </div>
                            <div class="logos ml-sm-auto">
                                <ul class="logos_list">
                                    <li><a href="#"><img src="/Assets/Client/images/logo/tien-mat.png" alt=""></a></li>
                                    <li><a href="#"><img src="/Assets/Client/images/logo/internet-bank.png" alt=""></a></li>
                                    <li><a href="#"><img src="/Assets/Client/images/logos_1.png" alt=""></a></li>
                                    <li><a href="#"><img src="/Assets/Client/images/logos_2.png" alt=""></a></li>
                                    <li><a href="#"><img src="/Assets/Client/images/logo/bo-cong-thuong.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Assets/Client/js/jquery-3.3.1.min.js"></script>
    <script src="/Assets/Client/styles/bootstrap4/popper.js"></script>
    <script src="/Assets/Client/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/TweenMax.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/Assets/Client/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/Assets/Client/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/Assets/Client/plugins/easing/easing.js"></script>
    <script src="/Assets/Client/js/jquery.scrollUp.min.js"></script>
    <script src="/Assets/Client/js/custom.js"></script>
    <script src="~/Assets/Client/plugins/slick/slick.min.js"></script>
    @RenderSection("js", required: false)
    <script>
        $('.banner-slide').owlCarousel({
            navText: ["<div class='owl-prev'><img src='/Assets/Client/images/arrow/left.jpg'/></div>", "<div class='owl-next'><img src='/Assets/Client/images/arrow/left.jpg'/></div></div>"],
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 1,
                    nav: false
                },
                1024: {
                    items: 1,
                    nav: true,
                    loop:true
                }
            }
        })
    </script>
</body>

</html>
