@model IEnumerable<OnlineShop.Areas.Admin.Models.ProductWithCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section css{
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>

        .img-custom {
            width: 100px;
        }
    </style>
}
@section js{
    <!-- Page level plugins -->
    <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Assets/Admin/js/demo/datatables-demo.js"></script>
    <script type="text/javascript">
        function remove() {
            var $tr = $(this).closest('tr');
            $tr.remove();
            location.reload();
        }
    </script>
}
@section header{
    Danh sách sản phẩm
}
<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-success btn-icon-split btn-padding" })
</p>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Images)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.CategoryID)
                        </th>
                        <td>
                            @Html.DisplayNameFor(model => model.brand.Title)
                        </td>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ViewCount)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Images)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.category.Title)
                        </th>
                        <td>
                            @Html.DisplayNameFor(model => model.brand.Title)
                        </td>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ViewCount)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Title)
                    </td>
                    <td>
                        <img class="img-fluid img-custom" src="@Url.Content(""+item.Product.Images)" alt="">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.brand.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ViewCount)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.Product.ID }, new { @class = "btn btn-primary btn-icon-split btn-padding" }) |
                        @Html.ActionLink("Chi tiết", "Details", null, new { id = item.Product.ID }, new { @class = "btn btn-info btn-icon-split btn-padding" }) |
                        @Ajax.ActionLink("Xoá", "Delete", new { @id = item.Product.ID }, new AjaxOptions { Confirm = "Bạn có muốn xoá bản ghi này ?", OnComplete = "remove", HttpMethod = "Delete" }, new { @class = "btn btn-danger btn-icon-split btn-padding" })
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>